<div class="py-3 px-4 max-w-lg bg-white rounded border shadow-sm">
  <div class="flex items-center">
    <div class="ml-2">
      <div class="text-sm">
        <span class="font-semibold">{{ post().title }}</span>
      </div>
      <div class="text-sm font-semibold text-gray-700">
        by {{ post().owner?.username }}
      </div>
      <div class="flex text-xs text-gray-500"></div>
    </div>
  </div>
  <p class="mt-2 text-sm leading-normal text-gray-800 md:leading-relaxed">
    {{ post().content }}
  </p>
  <div class="flex items-center mt-3 text-xs text-gray-500">
    <button (click)="upvote.emit(post().id)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-arrow-up-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"
        />
      </svg>
    </button>

    <span class="ml-1 text-sm font-semibold">{{ post().votes }} votes</span>
  </div>
</div>
